<h1>Find People to Follow!</h1>
<div class="new-followers">
  <% @users.each do |user_to_follow| %>
    <%= render partial: 'form', locals: { user_to_follow: user_to_follow } %>
  <% end %>
</div>
<%= link_to 'Back', followers_path %>
