body {
  background: url(asset-path('laptop-background.jpg')) no-repeat;
  background-size: cover;
}
a {
  color: #dd5566;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #dd5566;
}
.pin-container{
  padding: 10px;
}
.pin {
  padding: 40px;
  min-height: 343px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.show-pin {
  background-color: #fff;
  padding: 40px;
}
hr {
  clear:both;
}
.new_pin {
  text-align: center;
  padding-top: 5em;
}
.form-group {
  align-items: center;
  width: 100%;
}
.align-middle {
  padding-right: .2em;
}
.description {
  display: flex;
  justify-content: center;
}
