body {
  background: url(asset-path('laptop-background.jpg')) no-repeat;
  background-size: cover;
}
a {
  color: #dd5566;
}
h1 {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  color: #dd5566;
}
.pin-container{
  padding: 10px;
}
.pin {
  padding: 40px;
  min-height: 343px;
  background-color: #fff;
  border: 1px solid #efefef;
}
.show-pin {
  background-color: #fff;
  padding: 40px;
}
hr {
  clear:both;
}
.new_pin {
  text-align: center;
  padding-top: 5em;
}
.edit_pin {
  text-align: center;
  padding-top: 5em;
}
.form-group {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
}
.align-middle {
  padding-right: .5em;
}
.description {
  display: flex;
  justify-content: center;
}
.error ul {
  margin-bottom: auto;
  list-style: none;
}
.error {
  text-align: center;
  color: #dd0000;
  border: 1px solid #dd0000;
  padding: 5px;
  margin: 1em auto 5px auto;
  width: fit-content;
}
.col-form-label {
  padding-right: .5em;
}
.users table {
  width: 40em;
  margin-bottom: 1em;
}
