// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
label.login-email {
  margin: 3em 0em 1em 0em;
  width: 5.5em;
  text-align: left;
}
label.login-password {
  margin-bottom: 1em;
  width: 5.5em;
  text-align: left;
}
.login-submit {
  margin-bottom: .5em;
}
.signup-label {
  text-align: left;
  width: 7em;
}
.top-label {
  margin-top: 3em;
}
